{% extends 'auth.html.twig' %}

{% block title %}Log in!{% endblock %}


{% block stylesheets %}
    <style>
        .row{
            margin-top: 20px;
        }
        .left-part, .right-part{
            border: 2px solid #efefef;
            padding-bottom: 10px;
            padding-top: 10px;
        }
        .right-part{
            padding-top: 30px;
        }
    </style>
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="m-auto left-part p-5">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                    <div class="form-group">
                        <label for="inputEmail" class="sr-only">Email</label>
                        <input type="email" value="{{ last_username }}" name="_username" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" name="_password" id="inputPassword" class="form-control" placeholder="Password" required>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >

                    <button class="btn btn-success" style="float:right " type="submit">
                        Sign in
                    </button>
                    <a href="{{ path('app_register') }}" class="btn btn-danger mr-5" style="float:right" type="submit">
                        Sign up
                    </a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
