{% extends 'auth.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="m-auto left-part p-5">
                <h1>Register</h1>
                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.firstName) }}
                {{ form_row(registrationForm.lastName) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.username) }}
                {{ form_row(registrationForm.password) }}
                <button class="btn btn-primary">Register</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
        <style>
            label {
                width: 150px !important;
            }
        </style>
    </div>
{% endblock %}
