{% extends 'base.html.twig' %}

{% block title %}Checkout{% endblock %}

{% block body %}
    <div class="container">
        <form action="{{ path('payment') }}" method="post" class="col-12 p-0">
            <div class="col-lg-8 float-left">
                <h3>Delivery Address</h3>

                    <!---->
                    <div class="col-md-6 form-group p_star">
                        <label for="name">Name</label>
                        <input  name="address[name]"
                                type="text"
                                id="name"
                                placeholder="Name"
                                class="form-control" required/>
                    </div>
                    <div class="col-md-6 form-group p_star">
                        <label for="name">Surname</label>
                        <input  name="address[surname]"
                                type="text"
                                placeholder="Surname"
                                class="form-control" required/>
                    </div>
                    <div class="col-md-12 form-group p_star">
                        <label for="name">Address</label>
                        <textarea
                                name="address[detail]"
                                id="address" rows="4"
                                placeholder="Address"
                                class="form-control"
                                required>
                        </textarea>
                    </div>

            </div>
            <div class="col-lg-3 float-right">
                <div class="card p-0">
                    <div class="card-body">
                        <h5 class="card-title">Summary</h5>

                        {% for item in cart.items %}
                        <div class="item col-12 p-0">
                            <div class="item-name col-6 float-left p-0">
                                {{ item.product.name }}
                            </div>
                            <div class="item-quantity col-6 float-left p-0">
                                <div class="col-3 float-left p-0">x{{ item.quantity }}</div>
                                <div class="col-9 float-left p-0 text-right">{{ item.totalPrice }}₺</div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        {% endfor %}
                        <hr>
                        <div class="item col-12 p-0">
                            <div class="item-name col-6 float-left p-0">
                                <h6>Total Price</h6>
                            </div>
                            <div class="item-quantity col-6 float-left p-0 text-right">
                                {{ cart.totalPrice }}₺
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <hr>
                        <h6 class="card-title">Payment Type</h6>
                        <div class="form-check">
                            <input class="form-check-input"
                                   checked
                                   name="paymentType"
                                   type="checkbox"
                                   value="paymentDoor"
                                   id="paymentDoor">
                            <label class="form-check-label" for="paymentDoor">
                                Payment Door
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input"
                                   disabled
                                   name="paymentType"
                                   type="checkbox"
                                   value="creditCard"
                                   id="creditCard">
                            <label class="form-check-label" for="creditCard">
                                Credit Card
                            </label>
                        </div>
                        <hr>
                        <button type="submit" class="btn btn-success text-white col-12">
                            Payment <span class="glyphicon glyphicon-play"></span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
