{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}

{% block body %}
    <div class="container">
            <div class="col-sm-12 col-md-12 col-md-offset-1">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                    </thead>
                    {% if cart is not null %}
                    <tbody>
                    {% for item in cart.items %}
                        <tr>
                            <td class="col-sm-8 col-md-6">
                                <div class="media">
                                    <a class="thumbnail pull-left" href="javascript:;">
                                        <img class="media-object" src="/product/{{ item.product.image }}" style="width: 36px; height: 36px;">
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading">
                                            <a href="#"> {{ item.product.name }}</a>
                                        </h4>
                                    </div>
                                </div></td>
                            <td class="col-sm-1 col-md-1" style="text-align: center">
                                <strong>{{ item.quantity }}</strong>
                            </td>
                            <td class="col-sm-1 col-md-1 text-center"><strong>{{ item.product.price }}₺</strong></td>
                            <td class="col-sm-1 col-md-1 text-center"><strong>{{ item.totalPrice }}₺</strong></td>
                            <td class="col-sm-1 col-md-1">
                                <a href="/removeCartItem/{{ item.id }}" type="button" class="btn btn-danger text-white">
                                    <span class="glyphicon glyphicon-remove"></span> Remove
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong>{{ cart.totalPrice }}₺</strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            <a href="{{ path('home_products') }}" type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('checkout') }}" type="button" class="btn btn-success text-white">
                                Checkout <span class="glyphicon glyphicon-play"></span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                    {% endif %}
                </table>
            </div>
    </div>
{% endblock %}
