{% extends 'base.html.twig' %}

{% block title %}Checkout{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-lg-12 float-left">
            <h3>Success Payment</h3>
            Order Number: {{ orderNumber }}
        </div>
    </div>
{% endblock %}
