{% extends 'admin.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit Product</h1>
        <form action="{{ path('product_update', {product: product.id }) }}" name="product_form" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="product_form_name" class="required">Name</label>
                <input type="text" id="product_form_name" value="{{ product.name }}" name="name" required="required" maxlength="255">
            </div>
            <div class="form-group">
                <label for="product_form_code" class="required">Code</label>
                <input type="text" id="product_form_code" name="code" value="{{ product.code }}" required="required" maxlength="255">
            </div>
            <div class="form-group">
                <label for="product_form_stock" class="required">Stock</label>
                <input type="number" id="product_form_stock" name="stock" value="{{ product.stock }}" required="required">
            </div>
            <div class="form-group">
                <label for="product_form_price" class="required">Price</label>
                <input type="number" id="product_form_price" name="price" value="{{ product.price }}" required="required">
            </div>
            <div class="form-group">
                <label for="product_form_image" class="required">Image</label>
                <input type="file" id="product_form_image" name="image" value="{{ product.image }}">
            </div>
            <button class="btn btn-primary">Save</button>
        </form>
    </div>
    <style>
        .form-group label {
            width: 150px !important;
        }
    </style>
{% endblock %}
