{% extends 'admin.html.twig' %}
{% block title %}Products{% endblock %}

{% block body %}
<div class="container">
    <div class="col-12 text-center">
        <h1>Product</h1>
    </div>
    <div class="col-12">
        <a class="btn btn-success float-right" href="{{ path('product_new') }}">New</a>
    </div>
    <div class="clearfix"></div>
    <div class="col-12">
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Stock</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.code }}</td>
                    <td>{{ product.stock }}</td>
                    <td align="center"><a class="btn btn-success" href="{{ path('product_edit', {'product': product.id }) }}">Edit</a></td>
                    <td align="center"><a class="btn btn-danger" href="{{ path('product_delete', {'product': product.id }) }}">Delete</a></td>
                </tr>
            {% endfor %}
            </tfoot>
        </table>
    </div>
</div>

{% endblock %}
