{% extends 'admin.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
    <div class="container">
        <h1>New Product</h1>
        {{ form_start(productForm) }}
        <div class="form-group">
            {{ form_row(productForm.name) }}
            {{ form_row(productForm.code) }}
            {{ form_row(productForm.stock) }}
            {{ form_row(productForm.price) }}
            {{ form_row(productForm.image) }}
        </div>
        <button class="btn btn-primary">Save</button>
        {{ form_end(productForm) }}
    </div>
    <style>
        .form-group label {
            width: 150px !important;
        }
    </style>
{% endblock %}
