<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" >
    {% endblock %}

</head>
<body>
<div id="app">
    <header class="mb-2">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('home_products') }}">Products</a>
                    </li>
                </ul>
            </div>

            <div class="mr-sm-0" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('cart') }}">Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    {% block body %}{% endblock %}
</div>
{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script>
      var app = new Vue({
        el: '#app',
        delimiters: ["{*","*}"],
        data: {
          message: 'Hello Vue!'
        },
        methods:{
          addToCart(id) {
            axios({
              method: 'post',
              url: '/addToCart',
              data: {
                quantity: $("#product_"+id).val() < 0 ? 1 : $("#product_"+id).val(),
                product: id
              }
            }).then((res)=>{
                toastr.info('Sepetinize eklendi.')
              }).catch(err =>{
                toastr.error('Bir sorun oluştu.')
            });
          },
          increaseAndDecrease(id, val) {
            $("#product_"+id).val(parseInt($("#product_"+id).val()) + val);
          }
        }
      })
    </script>
{% endblock %}
</body>
</html>
