{% extends 'base.html.twig' %}

{% block title %}Sorry! :({% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                    {{ message }}
                </div>
                <div class="error-actions">
                    <a href="{{ path('home_products') }}" class="btn btn-primary btn-lg">
                        Go Home
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
