{% extends 'admin.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-12 text-center">
            <h1>Order</h1>
        </div>
        <div class="col-12">
            <table id="example" class="table table-striped table-bordered" style="width:100%">
                <thead>
                <tr>
                    <th>Customer</th>
                    <th>Address</th>
                    <th>Product</th>
                    <th>Total Price</th>
                    <th>Payment Type</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    {% set address = order.address|jsonDecode  %}
                    <tr>
                        <td>{{ address.name }} {{ address.surname }}</td>
                        <td>{{ address.detail }}</td>
                        <td>
                            <div class="card-body p-0">
                                {% for item in order.cart.items %}
                                    <div class="item col-12 p-0">
                                        <div class="item-name col-6 float-left p-0">
                                            {{ item.product.name }}
                                        </div>
                                        <div class="item-quantity col-6 float-left p-0">
                                            <div class="col-3 float-left p-0">x{{ item.quantity }}</div>
                                            <div class="col-9 float-left p-0 text-right">{{ item.totalPrice }}₺</div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                {% endfor %}
                            </div>
                        </td>
                        <td>
                            {{ order.cart.totalPrice }}
                        </td>
                        <td>
                            {{ order.paymentType }}
                        </td>
                        <td>
                            <select name="cartAction" id="cartAction{{ order.id }}" onchange="changeStatus({{ order.id }})">
                                <option value="pending">Pending</option>
                                <option value="success">Success</option>
                                <option value="cancel">Cancel</option>
                            </select>
                        </td>
                    </tr>
                {% endfor %}
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}
