{% extends 'base.html.twig' %}
{% block title %}Products{% endblock %}

{% block body %}
    <div class="container">
        {% for product in products %}
            <div class="card col-3 p-0 float-left mb-1">
                <img class="card-img-top" src="/product/{{ product.image }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description|slice(1,25) }}</p>
                    <div class="price">
                        <span style="float: left; background: orange; padding: 5px; font-size: 11px; border-radius: 15px">new</span>
                        <span style="float: right">{{ product.price }}₺</span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="mt-3 col-6 p-0 float-left">
                        <a href="javascript:;" @click="addToCart({{ product.id }})" class="btn btn-primary">Add to Cart</a>
                    </div>
                    <div class="mt-3 col-5 p-0 float-right text-right">
                        <button style="float: left;
                        background: lightgray;
                        border: none;
                        cursor: pointer;
                        height: 38px;
                        border-radius:5px"
                        @click="increaseAndDecrease({{ product.id }}, -1)">-</button>
                        <input
                                disabled
                                type="text"

                                style="float: left;
                                    background: none;
                                    width: 50px;
                                    height: 38px;
                                    border:none;
                                    text-align:center"
                                value="1"
                                id="product_{{ product.id }}"
                        >
                        <button style="float: left;
                        background: lightgray;
                        border: none;
                        cursor: pointer;
                        height: 38px;
                        border-radius:5px"
                        @click="increaseAndDecrease({{ product.id }}, 1)">+</button>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="clearfix"></div>
    </div>
{% endblock %}
